version = 0.1
[default]
[default.deploy]
[default.deploy.parameters]
stack_name = "rupeetravel-api"
resolve_s3 = true
region = "ap-south-1"
confirm_changeset = true
capabilities = "CAPABILITY_IAM"
image_repositories = []
